
.movie-list {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    list-style-type: none;
    justify-content: space-between;
    margin: 0 30px;
    padding: 0;
    .movie-item {
      margin: 10px;
      box-shadow: 1px 2px 2px 1px #aaa;
      border-radius: 7px;
      overflow: hidden;
      a {
        height: 100%;
        display: block;
        text-decoration: none;
        color: #000;
      }
      .desc {
        padding: 10px;
        .top {
          display: flex;
          justify-content: space-between;
        }
        p {
          color: #555;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      h2 {
        margin: 0;
        font-weight: 500;
        font-size: 1rem;
      }
      figure {
        margin: 0;
        height: 300px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      transition: all 0.3s ease;
      &:hover {
        box-shadow: 2px 3px 5px 4px #ccc;
        figure {
          overflow: hidden;
          transition: all 0.3s ease;
          img {
            transition: all 0.3s ease;
            transform: scale(1.1);
          }
        }
      }
    }
    @media screen and (max-width: 1440px) {
      grid-template-columns: 24% 24% 24% 24%;
    }
    @media screen and (max-width: 995px) {
      grid-template-columns: 32% 32% 32%;
    }
    @media screen and (max-width: 746px) {
      grid-template-columns: 45% 45% ;
    }
    @media screen and (max-width: 540px) {
      grid-template-columns: 100%;
    }
  }
  
  