.App {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  .movie-item {
    flex-basis: 22%;
    h2 {
      font-weight: 400;
    }
  }
}